<%- include('../partials/head.ejs',{styles: ['base', 'footer', 'header', 'detailOne']}) %>

<body>
        <%- include('../partials/header.ejs') %>

        <div class="products-wrapper">
            <div class="row">
                <div>
                    <h2 class="products-title">Detalle del producto: </h2>
                </div>
            </div>
            <div class="product-detail">
                <div class="row">
                    <div>
                        
                        <img src="/images/<%= product.image %>" alt="product image" class="product-detail-img">
                        
                    </div>
                    <div>
                        <article class="product-detail-info">
                            
                            <h2 class="product-detail-title"><%= product.name %></h2>
                                
                                <p class="product-detail-description">
                                <%= product.description %>
                                </p>
                            
                                <p class="product-detail-price small">
                                    <span>$<%= product.price %></span>
                                </p>
                                    
                                <section class="button-container"></section>
                            <a href="/products/<%= product.id %>/edit" class="btn btn-secundary">EDITAR PRODUCTO</a>
                            <form action="/products/<%= product.id %>/delete?_method=DELETE" method="POST">
                                    <button type="submit" class="btn btn-primary">ELIMINAR</button>
                            </section>
                            </form>
                
                        </article>
                    </div>
                </div>
            </div>
        </div>

</body>

</html>
