<%- include('../partials/head.ejs',{styles: ['base', 'footer' , 'header' , 'productCreation' ]}) %>

    <body>
        <%- include('../partials/header.ejs') %>

            <main class="form-container">
                <h2>Crear un nuevo ingrediente</h2>

                <div>
                    <form action="/products/productCreation" method="POST" enctype="multipart/form-data">
                        <div>
                            <label for="name">Nombre del ingrediente:</label>
                            <input type="text" id="name" name="name" required />
                        </div>
                        <div>
                            <label for="description">Descripción:</label>
                            <textarea name="description" id="description"></textarea>
                        </div>
                        <div>
                            <label for="image">Seleccionar una imagen del ingrediente:</label>
                            <input type="file" id="image" name="image" accept="image/*">
                        </div>

                        <label for="">Categoría:</label>
                        <select id="categoryId" name="categoryId">

                            <option value="">Elegí</option>
                            <% for( let i = 0; i < categories.length; i++ ) { %>
                                <option value="<%= categories[i].id%>"><%= categories[i].name %>
                                </option>
                            <% } %>

                          
                        </select>
                        <div>
                            <label for="price">Precio:</label>
                            <input type="number" id="price" name="price" required />
                        </div>
                        <section class="button-container">
                            <button class="btn btn-secundary" type="reset">Cancelar</button>
                            <button class="btn btn-primary" type="submit">Crear</button>

                        </section>
                    </form>

                </div>








            </main>

            <%- include('../partials/footer.ejs') %>

    </body>

    </html>