<%- include('../partials/head.ejs',{styles: ['base', 'footer' , 'header' , 'detailOne', 'userDetail'  ]}) %>

    <body>
        <%- include('../partials/headerAdmin.ejs') %>

            <main class="main-container">
                <div>
                    <p>
                        Nombre: <%= locals.user?.name %>
                    </p>
                    <p>
                        Correo Electrónico: <%= locals.user?.email %>
                    </p>
                    <p>
                        Domicilio: <%= locals.user?.address %>
                    </p>
                    <p>
                        Teléfono: <%= locals.user?.phone %>
                    </p>
                    <p>
                        Rol: <%= locals.user?.roles_id %>
                    </p>

                    <a href="/users/<%= user.id %>/edit" class="btn btn-secundary">EDITAR USUARIO</a>
                    <form action="/users/<%= user.id %>/delete?_method=DELETE" method="POST"
                        style="display: inline-flex">
                        <button type="submit" class="btn btn-primary">ELIMINAR</button>
                    </form>
                </div>
            </main>
    </body>