<%- include('../partials/head.ejs',{styles: ['base', 'footer' , 'header' , 'users' ]}) %>

    <body>
        <%- include('../partials/headerAdmin.ejs') %>

                <h1 class="users-title"> Todos los usuarios </h1>
                <main class="users-wrapper">
                
                    <% locals.users && users.forEach((user)=> { %>
                        <div class="content-u-box">
                            <section class="user-box">
                                <a href="/users/userDetail/<%= user.id %>">
                                    <article class="user-box-data">
                                        <h2>
                                            <%= user.name %>
                                        </h2>
                                        <p>
                                            <%= user.roles_id %>
                                        </p>
                                    </article>
                                </a>
                            </section>
                        </div>
                        <% }); %>

            </main>

    </body>

    </html>